.header-content {
    margin-bottom: 16px;
}

.header-title {
    padding: 8px 0 8px 16px;
    font-size: 2.2rem;
    font-weight: 500;
}

.choose-medicine {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.medicine-option {
    padding: 8px;

    input,
    select {
        padding: 8px;
        font-size: 1.6rem;
        border: 1px solid #e4e4e4;
        width: 360px;
    }

    label {
        padding: 0 16px 0 8px;
        min-width: 100px;
    }
}

.search-filter {
    margin-left: 10px;
    label {
        padding: 6px 7px 6px 6px;
    }
}

.input-name {
    min-width: 400px;
    padding: 8px;
    font-size: 1.6rem;
    border: 1px solid #e4e4e4;
}

.btn-action {
    flex: 1;
    text-align: end;
    margin-right: 36px;
}

.btn-add,
.btn-search {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.6rem;
    padding: 12px 0;
    border-radius: 2px;
    min-width: 120px;
    cursor: pointer;
    // &:hover {
    //     cursor: pointer;
    // }
}

.btn-list {
    min-width: 200px;
}

.btn-add + .btn-add {
    margin-left: 16px;
}

.btn-search {
    min-width: 80px;
}

.btn-delete {
    background-color: rgb(222, 64, 64);
}

.btn-hidden {
    cursor: default;
    opacity: 0;
}

//search cpn
.search-cpn {
    padding: 8px 24px;
}

//new
.search-statistic {
    width: 363px;
    margin-left: 82px;
    padding-top: 8px;
    input,
    select {
        outline: none;
    }
}

.wrap-searchBot {
    width: 911px;
    display: flex;
    justify-content: space-between;
}

//modalView
.wrap-modalview {
    width: 500px;
    padding: 8px;

    span {
        display: block;
        padding: 24px;
        text-align: center;
    }
}

.title-modalView {
    padding-top: 8px;
    font-size: 2rem;
}

.view-detail {
    padding: 8px;
    display: flex;
    align-items: center;
    label {
        font-size: 1.6rem;
        min-width: 180px;
    }

    input {
        padding: 8px;
        width: 100%;
        outline: none;
        font-size: 1.6rem;
    }
}

.view-detailbtn {
    text-align: right;
    padding: 16px 8px 8px 8px;
}

.btn-close {
    border-radius: 4px;
    padding: 8px;
}

.infoNum-input {
    border: 1px solid rgba($color: #ccc, $alpha: 1);
}

//main content
.main-content {
    padding-top: 6px;
    background-color: var(--white);
}
.content-table {
    margin-left: 14px;
    height: 626px;
}

.wrap-paginate {
    display: flex;
    justify-content: right;
    align-items: center;

    select {
        outline: none;
        margin: 16px 16px 0 0;
        color: #747070;
        font-size: 16px;
        padding: 7px;
        border-color: #d3c9c9;
    }
}
