.format-input {
    background-color: var(--white);
    height: 32px;
    outline: none;
    font-size: 1.6rem;
    padding: 8px;
    border: 1px solid #e4e4e4;
}

.format-sl {
    width: 80px;
}

.format-price {
    width: 140px;
}

.invoice-input {
    width: 200px;
    height: 26px;
    padding: 8px 0;
}

.infoNum-input {
    height: 38px;
    border: 1px solid rgba($color: #ccc, $alpha: 1);
}
