.sidebar {
    position: fixed;

    z-index: 2 !important;
}

.wrapper {
    background-color: var(--primary);
    width: 360px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.sidebar-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary);
    text-align: center;
    width: 354px;
    padding: 20px 0;
}

.sidebar-nav {
    margin-top: 96px;
}

.logo {
    width: 56px;
}

//scroll
.wrapper::-webkit-scrollbar {
    width: 6px;
}

.wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.wrapper::-webkit-scrollbar-thumb {
    background: var(--white);
}

//menu

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.8rem;

    border-left: 4px solid transparent;

    &:hover {
        background-color: #1db0dc;
    }
}

.active {
    border-color: var(--white);
}

.subMenu-list {
}

.menu-itemIf {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-iconmore {
    color: var(--white);
    font-size: 1.4rem;
    transition: transform 0.3s;
}

.menu-iconmore.opened {
    transform: rotate(180deg);
}

.menu-icon {
    color: var(--white);
    font-size: 2.4rem;
    min-width: 40px;
}

.menu-title {
    color: var(--white);
    margin-left: 8px;
}

.subMenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 40px;
    font-size: 1.8rem;

    &:hover {
    }
}
