.header-content {
    margin-bottom: 16px;
}

.header-title {
    padding: 8px 0 8px 16px;
    font-size: 2.2rem;
    font-weight: 500;
}

.choose-medicine {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.medicine-option {
    padding: 8px;

    input,
    select {
        padding: 8px;
        font-size: 1.6rem;
        border: 1px solid #e4e4e4;
    }

    select {
        min-width: 160px;
    }

    label {
        padding: 0 16px 0 8px;
        min-width: 100px;
    }
}

.search-filter {
    margin-left: 10px;
    label {
        padding: 6px 7px 6px 6px;
    }
}

.input-name {
    min-width: 400px;
    padding: 8px;
    font-size: 1.6rem;
    border: 1px solid #e4e4e4;
}

.btn-action {
    margin-left: 28px;
}

.btn-add,
.btn-search {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.6rem;
    padding: 12px 0;
    border-radius: 2px;
    min-width: 120px;

    &:hover {
        cursor: pointer;
    }
}

.btn-add + .btn-add {
    margin-left: 16px;
}

.btn-search {
    min-width: 80px;
}

//search cpn
.search-cpn {
    padding: 8px 24px;
}

//new

.import-if {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.import-input {
    border: 1px solid #ccc;
    font-size: 1.6rem;
    width: 168px;
    padding: 8px;
    outline: none;
    border-radius: 4px;
}

.if-details {
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: 80px;
}

.btn {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.6rem;
    min-width: 160px;
    height: 40px;
}

.import-addBtn {
    width: 168px;
    margin-top: 4px;
    margin-left: 10px;
}

.btn-desc {
    text-align: end;
    margin-right: 24px;
    padding: 8px 8px 78px 8px;
    height: 80px;
}

.btn-select {
    width: 200px;
    height: 40px;
    font-size: 1.6rem;
    outline: none;
    margin-right: 24px;
    border-radius: 4px;
    padding: 8px;
}

.btn-confirm {
    margin-left: 4px;
    padding: 8px;
    border-radius: 4px;
}

.error-mess {
    color: red;
}

//Main Content
.main-content {
    height: 678px;
    background-color: var(--white);
    padding: 8px 12px 0 12px;
    margin-top: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.wrap-paginate {
    margin-bottom: 8px;
}

.main-content::-webkit-scrollbar {
    width: 100%;
}

.main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
    background: var(--white);
}

.table-details {
    width: 2200px;
}

//table

.table-content {
    width: 1300px;
}

th,
td {
    border-bottom: 2px solid #e0d9d9;
    border-right: 1px solid #ede1e1;
    border-collapse: collapse;
}

td,
th {
    padding: 6px 10px;
}

tfoot {
    td {
        border: none;
    }
}

thead {
    max-height: 60.5px;
}

tbody {
}

.th-ten {
    width: 200px;
}

.th-sl {
    // width: 140px;
}

.th-sltb {
    // width: 80px;
}

.th-slnn {
    // width: 160px;
}

.th-tn {
    // width: 100px;
}

.th-dvt {
    width: 100px;
}

.th-donggoi {
    width: 180px;
}

// .th-handung {
//     width: 100px;
// }

.th-solo {
    width: 200px;
}

// .th-btn {
//     width: 80px;
//     text-align: center;
// }

.table-input {
    height: 42px;
    font-size: 1.6rem;
    outline: none;
    width: 100%;
    padding: 8px;
}

.table-icon {
    color: var(--white);
    font-size: 2rem;
}

.table-btn {
    cursor: pointer;
    background-color: red;
    width: 32px;
    padding: 6px;
    border-radius: 4px;
}

.foot-tr {
    width: 100%;
    display: flex;
    border: none;
    padding: 12px;
    position: fixed;
}

.foot-tr + .foot-tr {
    margin-top: 28px;
}
