//modalAll

.modalAll {
    min-width: 600px;
    text-align: center;
}

.modalAll-notif {
    font-size: 3.2rem;
    margin-top: 16px;
    padding: 8px;
}

.modalAll-action {
    margin-top: 32px;
    padding: 8px;
}

.btn-modalAll {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    margin: 8px 16px;
    min-width: 100px;
    padding: 12px;
    font-size: 1.6rem;
}

//modalViewAdd

.modal-view {
    width: 1400px;
    padding: 16px 16px 0px 16px;
    position: relative;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: #f5f1f1 solid 2px;
    align-items: center;
}

.btn-x {
    background-color: rgb(225, 22, 22);
    color: var(--white);
    padding: 8px 11px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 12px;
}

.modal-title {
    font-size: 2rem;
    padding-bottom: 8px;
}

.modal-form {
    width: 100%;
}

.modal-if {
    // padding-bottom: 32px;
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
    margin: 4px 8px 0 16px;
    .label {
        min-width: 148px;
    }
}

.required::after {
    content: ' *';
    color: red;
    font-size: 1.6rem;
}

.if-detail {
    width: 50%;
    margin: 8px 0 20px 0;
    align-items: center;

    .label {
        font-size: 1.6rem;
    }

    input {
        font-size: 1.6rem;
        padding: 8px;
        color: var(--text-color);
        outline: none;
        border: solid 1px #e0d9d9;
        border-radius: 4px;
        width: 95%;
    }
}

//
//modal add view all
.modal-actionAll {
    padding-bottom: 8px;
    text-align: right;
    margin-right: 28px;
}

.modal-actionBtn {
    margin: 12px 17px 16px 0;
    text-align: right;
}

//modal view
.modal-actionView {
    text-align: right;
    padding: 38px 10px 0 0;
    width: 50%;
}

.btnAddMore-modal {
    width: 200px;
}
//

.btn-modal {
    min-width: 120px;
    font-size: 1.6rem;
    color: var(--primary);
    background-color: #a2e1f4;
    padding: 8px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

//Modal Excel
.wrapper-excel {
    max-width: 1600px;
    margin: auto;
    overflow-x: hidden;
    padding: 20px;
}

.title-excel {
    font-size: 2.8rem;
    font-weight: 400;
    padding: 4px 0 12px 0;
}

.custom-form {
    width: 1600px;
    display: flex;
    margin-bottom: 24px;
}

.direct-action {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-excel {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.6rem;
    padding: 12px;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    margin-right: 8px;
}

.btn-import {
    width: 120px;
}

.btn-valid {
    width: 140px;
    background-color: rgb(247, 59, 59);
}

.form-control {
    font-size: 1.6rem;
    margin-left: 20px;
}

.btn-label {
    position: fixed;
    width: 120px;
}

.btn-preview {
    padding: 14px;
}

.modalEx-action {
    text-align: right;
    margin-top: 16px;
}

.file-upload {
    width: 160px;
    background-color: rgb(42, 154, 46);
    color: var(--white);
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
}

.wrap-option {
    display: flex;
    padding-bottom: 8px;
    input {
        font-size: 1.6rem;
        width: 280px;
        border: 1px solid #e0d9d9;
        padding: 8px;
        margin-right: 20px;
    }
}

.wrap-input {
    display: flex;
    flex-direction: column;
}

.viewer {
    height: 600px;
    margin-top: 8px;
    background-color: #e4e4e4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.table-excel {
    width: 100%;
}

.alert-err {
    color: red;
}

//choose Unit
.choose-unitDetail {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    height: 80px;
    position: relative;
    width: 100%;
    padding-right: 17px;
}

.unit-select {
    font-size: 1.6rem;
    outline: none;
    height: 34px;
    border: solid 1px #e0d9d9;
    border-radius: 4px;
    height: 40px;
    // width: 318px;
    padding: 8px;
}

.select-action {
    display: flex;
    align-items: center;
    position: relative;
    left: -8px;
    width: 100%;
}

//eror validate
.error-validate {
    color: rgb(240, 99, 99);
    position: absolute;
}

.error-validateSelect {
    color: rgb(240, 99, 99);
    position: absolute;
    bottom: -10px;
}

.modal-formDetail {
    text-align: center;
    margin-bottom: 12px;
    div {
        padding: 8px;
    }
}
.table-details {
    padding: 0 16px 16px 16px;
}

//
.btn-deleteDetail {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 8px;
    background-color: transparent;
}
.icon-remove {
    color: rgb(225, 22, 22);
}

//ModalViewAll

.modal-viewAll {
    min-width: 600px;
    padding: 16px 16px 16px 16px;
    position: relative;
}

.modalAll-if {
    // padding-bottom: 32px;
    flex-wrap: wrap;
    width: 100%;
    margin: 16px 8px 0 8px;
    .label {
        min-width: 148px;
    }
}

.if-detailAll {
    margin: 8px -10px 20px 0;
    align-items: center;

    .label {
        font-size: 1.6rem;
    }

    input {
        font-size: 1.6rem;
        padding: 8px;
        color: var(--text-color);
        outline: none;
        border: solid 1px #e0d9d9;
        border-radius: 4px;
        width: 95%;
    }
}

.modalViewAll-action {
    text-align: right;
    margin-right: 11px;
    margin-top: 24px;
}

.if-detailAlluser {
    margin-bottom: 28px;
}

.role-select {
    font-size: 1.6rem;
    width: 95%;
    padding: 10px 5px;
    outline: none;
    border: solid 1px #e0d9d9;
    color: var(--text-color);
    border-radius: 4px;

    .role-option {
    }
}
