.content {
    display: flex;
    margin: 24px;
}

.content-left {
    width: 33%;
    background-color: var(--white);
    margin-right: 24px;
    height: 600px;
    border-radius: 8px;
}

.content-right {
    width: 66%;
    background-color: var(--white);
    height: 787px;
    border-radius: 8px;
}

.info {
    border-radius: 8px;
    background-color: var(--white);
    height: 60%;
    padding: 32px 24px 24px 24px;
    text-align: center;
}

.avatar {
    margin: auto;
    width: 151px;
    height: 50%;
    border-radius: 50%;
    background-image: url('../../assets/1234.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.name {
    margin-top: 12px;
    font-size: 2rem;
    font-weight: 500;
}

.role {
    color: rgba($color: #22313f, $alpha: 0.6);
}

.btn-chinhsua {
    cursor: pointer;
    margin-top: 18px;
    min-width: 240px;
    padding: 18px;
    background-color: var(--primary);
    font-size: 1.6rem;
    color: var(--white);
    border-radius: 6px;
}

.action {
    .action-itemkey {
        border-bottom: 1px solid #e9f1f9;
        border-top: 1px solid #e9f1f9;
    }

    .action-itemgear {
        border-bottom: 1px solid #e9f1f9;
    }

    .action-itemkey:hover {
        background-color: aliceblue;
        cursor: pointer;
    }

    .action-itemgear:hover {
        background-color: aliceblue;
        cursor: pointer;
    }
}

.action-item {
    padding: 16px 8px;

    span {
        margin-left: 12px;
    }
}

.icon {
    font-size: 2rem;
    padding: 0 12px;
}

.icon-key {
    color: var(--primary);
}

.icon-gear {
    color: #e60a32;
}
