.action-item {
    position: absolute;
    right: 18%;
}

.btn {
    font-size: 1.8rem;
    padding: 8px;
    background-color: transparent;

    .icon-delete {
        color: rgb(225, 22, 22);
    }

    .icon-view {
        color: rgb(241, 170, 17);
    }

    &:hover {
        cursor: pointer;
        background-color: #ccc;
    }
}

//table-staff

.table-staff.hideScroll::-webkit-scrollbar {
    overflow: hidden;
}

.table-staff.hideScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
