.header-content {
    margin-bottom: 16px;
}

.header-title {
    padding: 8px 0 8px 16px;
    font-size: 2.2rem;
    font-weight: 500;
}

.choose-sell {
    display: flex;
    align-items: center;
    // justify-content: space-between;
}

.choose-detail {
    display: flex;
    align-items: center;
}

.sell-option {
    display: flex;
    align-items: center;
    padding: 8px;

    input,
    select {
        padding: 8px;
        font-size: 1.6rem;
        border: 1px solid #e4e4e4;
    }

    select {
        min-width: 160px;
    }

    label {
        padding: 0 8px;
    }

    .input-name {
        min-width: 400px;
    }
}

.sell-optionSearch {
    label {
        display: block;
        width: 124px;
    }
    display: flex;
    align-items: center;
    height: 52px;
    width: 1224px;
    margin-left: 9px;
}

.fake-input {
    background-color: var(--white);
    width: 180px;
    height: 36px;
    border: 1px solid #e4e4e4;
    padding: 5px 8px 6px 8px;
}

.btn-action {
    // margin-left: 12px;
}

.btn-add {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.6rem;
    padding: 12px 0;
    border-radius: 2px;
    min-width: 120px;

    &:hover {
        cursor: pointer;
    }
}

.btn-add + .btn-add {
    margin-left: 16px;
}

//search-result
.search-result {
    width: 400px;
}

.result-item {
    font-size: 1.6rem;
    padding: 8px 12px;

    &:hover {
        cursor: pointer;
        background-color: #e4e4e4;
    }
}

//Main Content
.main-content {
    height: 100%;
    background-color: var(--white);
    // padding: 8px 0 0 12px;
    // height: 100vh;
    display: flex;
    justify-content: space-between;
}

.table-content {
    padding: 8px 12px 0 12px;
    flex: 1;
}

//table.........

table {
    width: 100%;
}

.table-input {
    height: 42px;
    font-size: 1.6rem;
    outline: none;
    width: 100%;
    padding: 8px;
}

.th-ten {
    width: 500px;
}

.th-sldvl {
    width: 60px;
}
.th-sldvn {
    width: 60px;
}

.th-dvl {
    width: 580px;
}

.th-tong {
    width: 100px;
}

.th-dvn {
    width: 80px;
}

.th-giaban {
    width: 160px;
}

.th-thanhtien {
    // width: 300px;
}

.th-btn {
    width: 40px;
}

.table-btn {
    cursor: pointer;
    color: var(--white);
    background-color: red;
    padding: 6px 8px;
    border-radius: 4px;
}

//Invoice-sale
.invoice-sale {
    height: 76vh;
    width: 26%;
    border-left: 6px solid #e9f1f9;
}

.invoice-title {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 16px 0;
}

.invoice-code {
    text-align: center;
}

.invoice-detail {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    input {
        text-align: end;
        font-size: 1.6rem;
    }
}

.invoice-action {
    text-align: center;
    margin-top: 16px;

    button {
        cursor: pointer;
        background-color: var(--primary);
        color: var(--white);
        padding: 12px;
        border-radius: 2px;
    }

    button + button {
        margin-left: 24px;
    }
}

.invoice-input {
    width: 160px;
    border: 1px solid #e4e4e4;
    outline: none;
}
